.dashboard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  height: 85vh;
  width: 100%;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #dc875d;
  color: #eee;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .dashboard {
    flex-wrap: wrap;
  }
}
