.chats-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100%;
  background-color: #fafafa;
  box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  min-width: 350px;
  margin: 0 1em;
}

.chats-messages .delete-btn {
  background-color: #ff7373;
}

.chats-messages .back-btn {
  background-color: #fafafa;
  box-shadow: 0 0 0 0 #fafafa;
  color: #505050;
}
.chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chat > .header {
  width: 100%;
  border-bottom: 0.5px solid #c9c9c9;
  padding: 0.5em 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chat > .header > h4 {
  margin: 0;
  text-transform: capitalize;
}

.chat > .messages {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
  padding: 1em;
  height: 70%;
  width: 100%;
  box-sizing: border-box;
  overflow: scroll;
}

.message {
  width: fit-content;
  max-width: 70%;
  background-color: #f2f5f9;
  color: #505050;
  box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.1);
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.incoming-message {
  border-top-left-radius: 0;
  align-self: flex-start;
}
.outgoing-message {
  background-color: #4e416d;
  color: #f2f5f9;
  border-top-right-radius: 0;
  align-self: flex-end;
}

.info {
  background-color: #ebebeb;
  color: #505050;
  border-radius: 1em;
  align-self: center;
  padding: 0.5em 1.5em;
  font-weight: 500;
  font-size: 0.8em;
  margin-bottom: 1em;
}

.input-container {
  width: 100%;
  padding: 0.5em 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.input-container > input {
  width: 90%;
}

@media (max-width: 480px) {
  .chats-messages {
    min-width: unset;
    width: 100%;
    margin: 1em;
    box-sizing: border-box;
  }
}
